<div>
	<p> Please copy and paste into the appropriate parameter fields in ArcGIS Online
		when adding a layer from the web.
	</p>
	<table>
		<thead>
			<tr><th>Parameter</th><th>Value</th></tr>
		</thead>
		<tbody>
			<tr><td>SEARCHPARAMS</td>
				<td><textarea rows="5">{{ searchParams }}</textarea></td>
			</tr>
		</tbody>
		<tr><td>Style</td><td>{{ style }}</td></tr>
		<tr><td>Styles</td><td>{{ style }}</td></tr>
	</table>
</div>