<div>
	<p>These are directions for adding the same map as you can see after clicking "Show Sites on Map" onto ArcGIS Online.
        Similar steps should allow connections to desktop GIS tools such as ArcGIS or QGIS. These layers will persist over time, though they are
        dynamic and represent the current state of WQP data.  At this time, the WQP only supports WMS services in ArgGIS Online.</p>
    <p><strong>Before attempting to add a layer, first view the layer using the "Show Sites on Map" button.</strong></p>
    <ol>
        <li>In the Map section of ArcGIS Online, under the "<strong>Add</strong>" menu, choose "<strong>Add Layer from Web</strong>"</li>
        <li>In the drop-down menu under "What type of data are you referencing?," choose "<strong>A WMS OGC Web Service</strong>"</li>
        <li>Copy this url and paste it into the URL field: <strong>https://www.waterqualitydata.us/ogcservices/ows</strong></li>
        <li>Click "<strong>Add Custom Parameters</strong>" and add the three parameters below. Copying and pasting is recommended.
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Parameter</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>SEARCHPARAMS</td>
                        <td><textarea rows="5" class="searchparams-value">{{ searchParams }}</textarea></td>
                    </tr>
                    <tr>
                        <td>style</td>
                        <td class="style-value">{{ style }}</td>
                    </tr>
                    <tr>
                        <td>styles</td>
                        <td class="style-value">{{ style }}</td>
                    </tr>
                </tbody>
            </table>
        </li>
        <li>Click the "<strong>GET LAYERS</strong>" button to pull the list of available layers from the WQP.</li>
        <li>Check the box to the left of the "<strong>wqp_sites</strong>" layer from the layer chooser that comes up.</li>
        <li>Click "<strong>ADD LAYER</strong>" to add the layer to the map</li>
    </ol>
</div>
