<table class="table table-striped table-condensed">
	<thead>
		<tr>
			{{#each colHeaders }}<th>{{this}}</th>{{/each}}
		</tr>
	</thead>
	<tbody>
		{{#each dataRows}}
			<tr>
				{{#each this}}<td>{{this}}</td>{{/each}}
			</tr>
		{{/each}}
	</tbody>
</table>