include .bowerrc
include .bumpversion.cfg
include *.json
include manage.py
include *.md
include *.txt
recursive-include wqp/portal_ui/static *
recursive-include wqp/bower_components *
recursive-include test *
recursive-include docs *
recursive-include wqp/portal_ui/templates *
recursive-exclude wqp *.pyc
prune instance