include *.md
recursive-include wqp/static *
recursive-include wqp/portal_ui/static *
recursive-include wqp/bower_components *
recursive-include test *
recursive-include docs *
recursive-include wqp/portal_ui/templates *
recursive-include wqp/flask_swagger_ui/templates *
recursive-include wqp/flask_swagger_ui/static *
recursive-include wqp/wqx/templates *
recursive-include wqp/wqx/static *
recursive-include static *
prune instance