Flask==0.10.1
Flask-Assets==0.11
Flask-Collect==1.2.2
Flask-Script==2.0.5
Jinja2==2.8
MarkupSafe==0.23
Werkzeug==0.11.3
beautifulsoup4==4.4.1
cssmin==0.2.0
feedparser==5.2.1
itsdangerous==0.24
jsmin==2.2.0
requests==2.9.1
webassets==0.11.1
wsgiref==0.1.2

