arrow==0.13.0
Authlib==0.10
beautifulsoup4==4.7.1
celery==4.2.1
feedparser==5.2.1
Flask==1.0.2
flask-swagger==0.2.13
geojson==2.4.1
gunicorn[gevent]==19.9.0
pyproj==1.9.6
redis==3.1.0
requests==2.21.0
whitenoise==4.1.2
