{% extends 'base.html' %}

{% block title %}Water Quality Data {% endblock %}

{% block page_style %}
	<link rel="stylesheet" type="text/css"
		  href="{{ url_for('bower.static', filename='jquery-ui/themes/smoothness/jquery-ui.min.css') }}"/>
	<link rel="stylesheet" type="text/css"
		  href="{{ url_for('bower.static', filename='select2/dist/css/select2.min.css') }}"/>
	<link rel="stylesheet" type="text/css"
		  href="{{ url_for('bower.static', filename='select2-bootstrap-theme/dist/select2-bootstrap.min.css') }}"/>
	<link rel="stylesheet" type="text/css"
		  href="{{  url_for('bower.static', filename='ol3/ol.css') }}" />
	<link rel="stylesheet" type="text/css"
		  href="{{ url_for('bower.static', filename='ol3-layerswitcher/src/ol3-layerswitcher.css') }}" />
	<link rel="stylesheet" type="text/css"
		  href="{{ url_for('bower.static', filename='leaflet/dist/leaflet.css') }}" />
	<link rel="stylesheet" type="text/css"
		  href="{{ url_for('bower.static', filename='Leaflet.EasyButton/src/easy-button.css') }}" />
	<link rel="stylesheet" type="text/css"
		  href="{{ url_for('bower.static', filename='leaflet.markercluster/dist/MarkerCluster.css') }}" />
	<link rel="stylesheet" type="text/css"
		  href="{{ url_for('bower.static', filename='leaflet.markercluster/dist/MarkerCluster.Default.css') }}" />
{% endblock %}

{% block page_header_title %}Water Quality Data{% endblock %}

{% block page_content %}
	<div id="page-content">
		<form role="form" id="params" name="params" autocomplete="off"
			  method="post" action="{{ config.SEARCH_QUERY_ENDPOINT }}Station/search">
			<div class="panel" id="location-parameters">
				<div class="panel-heading">
					LOCATION
					<button type="button" class="show-hide-toggle" title="Show subsection">
						<img src="{{ url_for('portal_ui.static', filename='img/expand.png') }}" alt="show"/>
					</button>
				</div>
				<div class="panel-body">
					<div id="place" class="subpanel">
						<div class="subpanel-heading">
							Place:
							<button type="button" class="show-hide-toggle" title="Show subsection">
								<img src="{{ url_for('portal_ui.static', filename='img/expand.png') }}" alt="show"/>
							</button>
						</div>
						<div class="subpanel-body">
							<div class="form-group">
								<label class="control-label" for="countrycode">Country:</label>
								<div>
									<select multiple class="form-control" id="countrycode" name="countrycode"
											data-placeholder="All" style="width: 100%"></select>
								</div>
								<button type="button" class="help-link popover-help" id="countryHelp"
										data-help="country">?
								</button>
							</div>
							<div class="form-group">
								<label class="control-label" for="statecode">State:</label>
								<div>
									<select multiple class="form-control" id="statecode" name="statecode"
											data-placeholder="All" style="width: 100%"></select>
								</div>
								<button type="button" class="help-link popover-help" id="stateHelp" data-help="state">
									?
								</button>
							</div>
							<div class="form-group">
								<label class="control-label" for="countycode">County:</label>
								<div>
									<select multiple class="form-control" id="countycode" name="countycode"
											data-placeholder="All" style="width: 100%"></select>
								</div>
								<button type="button" class="help-link popover-help" id="countyHelp" data-help="county">
									?
								</button>
							</div>
						</div>
					</div>
					<div id="point-location" class="subpanel">
						<div class="subpanel-heading">
							Point Location:
							<button type="button" id="proximityHelp" class="popover-help" data-help="pointLocation">?
							</button>
							<button type="button" class="show-hide-toggle" title="Show subsection">
								<img src="{{ url_for ('portal_ui.static', filename='img/expand.png') }}" alt="show"/>
							</button>
						</div>
						<div class="subpanel-body">
							<div class="form-group">
								<label class="control-label" for="within">Within</label>
								<div>
									<input class="form-control" type="text" name="within" id="within"/>
								</div>
							</div>
							<div id="miles-label">miles of</div>
							<div class="form-group">
								<label class="control-label" for="lat">Lat:</label>
								<div>
									<input class="form-control" type="text" name="lat" size="7" id="lat"/>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label" for="long">Long:</label>
								<div>
									<input class="form-control" type="text" name="long" id="long"/>
								</div>
							</div>
							<div id="useMyLocation"></div>
						</div>
					</div>
					<div id="bounding-box" class="subpanel">
						<div class="subpanel-heading">
							Bounding Box:
							<button type="button" id="bboxHelp" class="popover-help" data-help="boundingBox">?</button>
							<button type="button" class="show-hide-toggle" title="Show subsection">
								<img src="{{ url_for('portal_ui.static', filename='img/expand.png') }}" alt="show"/>
							</button>
						</div>
						<div class="subpanel-body">
							<div class="form-group">
								<label class="control-label" for="north">North:</label>
								<div>
									<input class="form-control" type="text" id="north"/>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label" for="south">South:</label>
								<div>
									<input class="form-control" type="text" id="south"/>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label" for="east">East:</label>
								<div>
									<input class="form-control" type="text" id="east"/>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label" for="west">West:</label>
								<div>
									<input class="form-control" type="text" id="west"/>
								</div>
							</div>
						</div>
						<input type="hidden" name="bBox"/>
					</div>
				</div>
			</div>
			<div id="site-and-sampling-params">
				<div id="site-params" class="panel">
					<div class="panel-heading">
						SITE PARAMETERS
						<button type="button" class="show-hide-toggle" title="Show subsection">
							<img src="{{ url_for('portal_ui.static', filename='img/expand.png') }}" alt="show"/>
						</button>
					</div>
					<div class="panel-body">
						<div class="form-group">
							<label class="control-label" for="siteType">Site Type:</label>
							<div>
								<select multiple class="form-control" id="siteType" name="siteType"
										data-placeholder="All" style="width: 100%"></select>
							</div>
							<button type="button" class="help-link popover-help" id="siteTypeHelp" data-help="siteType">
								?
							</button>
						</div>
						<div class="form-group" id="organization-id-select">
							<label class="control-label" for="organization">Organization ID:</label>
							<div>
								<select multiple class="form-control" name="organization" id="organization"
										data-placeholder="All" style="width: 100%" style="width: 100%"></select>
							</div>
							<button type="button" class="help-link popover-help" id="organizationHelp"
									data-help="organization">?
							</button>
						</div>
						<div class="form-group">
							<label class="control-label" for="siteid">Site ID:</label>
							<div>
								<input class="form-control" type="text" name="siteid" id="siteid"/>
							</div>
							<button type="button" class="help-link popover-help" id="siteHelp" data-help="siteID">?
							</button>
						</div>
						<div class="form-group">
							<label class="control-label" for="huc">HUC:</label>
							<div>
								<input class="form-control" type="text" name="huc" id="huc"/>
							</div>
							<button type="button" class="help-link popover-help" id="hucHelp" data-help="huc">?</button>
						</div>
						<div id="nldi-container">
							<label for="nldi-picker">Search Upstream and Downstream (BETA)</label>
							<button type="button" class="help-link popover-help" id="nldiHelp" data-help="nldi">?</button>
						</div>
						<div id="nldi-param-container"></div>
						<div id="nldi-inset-map"></div>
					</div>
				</div>
				<div id="sampling-params" class="panel">
					<div class="panel-heading">
						SAMPLING PARAMETERS
						<button type="button" class="show-hide-toggle" title="Show subsection">
							<img src="{{ url_for('portal_ui.static', filename='img/expand.png') }}" alt="show"/>
						</button>
					</div>
					<div class="panel-body">
						<div id="sampling" class="subpanel">
							<div class="subpanel-body">
								<div class="form-group">
									<label class="control-label" for="sampleMedia">Sample Media:</label>
									<div>
										<select multiple class="form-control" name="sampleMedia" id="sampleMedia"
												data-placeholder="All" style="width: 100%"></select>
									</div>
									<button type="button" class="help-link popover-help" id="sampleMediaHelp"
											data-help="sampleMedia">?
									</button>
								</div>
								<div class="form-group">
									<label class="control-label" for="characteristicType">Characteristic Group:</label>
									<div>
										<select multiple class="form-control" name="characteristicType"
												id="characteristicType" data-placeholder="All"
												style="width: 100%"></select>
									</div>
									<button type="button" class="help-link popover-help" id="characteristicGroupHelp"
											data-help="characteristicGroup">?
									</button>
								</div>
								<div class="form-group">
									<label class="control-label" for="characteristicName">Characteristics:</label>
									<div>
										<select multiple class="form-control" name="characteristicName"
												id="characteristicName" data-placeholder="All"
												style="width: 100%"></select>
									</div>
									<button type="button" class="help-link popover-help" id="characteristicHelp"
											data-help="characteristicName">?
									</button>
								</div>

								<div class="form-group">
									<label class="control-label" for="project-code">Project ID:</label>
									<div>
										<select multiple class="form-control" name="project" id="project-code"
												data-placeholder="All" style="width: 100%"></select>
									</div>
									<button type="button" class="help-link popover-help" id="projectHelp"
											data-help="project">?
									</button>
								</div>
								<div class="form-group" id='pcode-div'>
									<label class="control-label" for="pCode">Parameter Code: <span
											style="font-size:x-small;">(NWIS ONLY)</span></label>
									<div>
										<input class="form-control" type="text" name="pCode" id="pCode"/>
									</div>
									<button type="button" class="help-link popover-help" id="pCodeHelp"
											data-help="pcode">?
									</button>
								</div>
								<div class="form-group" id='minresults-div'>
									<label class="control-label" for="minresults">Minimum results per site:</label>
									<div>
										<input class="form-control" type="number" min="1" name="minresults" id="minresults"/>
									</div>
									<button type="button" class="help-link popover-help" id="minresultsHelp"
											data-help="minresults">?
									</button>
								</div>
								<div id="date-row">
									<div id="start-date-select" class="form-group">
										<label class="control-label" for="startDateLo">Date range - from:</label>
										<div>
											<div>
												<input class="form-control" type="text" id="startDateLo"
													   name="startDateLo" placeholder="mm-dd-yyyy"/>
											</div>
										</div>
									</div>
									<div id="end-date-select" class="form-group">
										<label class="control-label" for="startDateHi">to:</label>
										<div>
											<div>
												<input class="form-control" type="text" id="startDateHi"
													   name="startDateHi" placeholder="mm-dd-yyyy"/>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="biological" class="subpanel">
							<div class="subpanel-heading">
								Biological sampling parameters:
								<button type="button" id="bboxHelp" class="popover-help" data-help="biologicalparams">
									?
								</button>
							</div>
							<div class="subpanel-body">
								<div class="form-group">
									<label class="control-label" for="assemblage">Assemblage:</label>
									<div>
										<select multiple class="form-control" name="assemblage" id="assemblage"
												data-placeholder="All" style="width: 100%"></select>
									</div>
									<button type="button" class="help-link popover-help" id="assemblageHelp"
											data-help="assemblage">?
									</button>
								</div>
								<div class="form-group">
									<label class="control-label" for="subjectTaxonomicName">Taxonomic Name:</label>
									<div>
										<select multiple class="form-control" name="subjectTaxonomicName"
												id="subject-taxonomic-name" data-placeholder="All"
												style="width: 100%"></select>
									</div>
									<button type="button" class="help-link popover-help" id="taxonomicNameHelp"
											data-help="taxonomicName">?
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="dummy-row"></div>
			<div class="clearfix"></div>
			<div id="nldi-map-container">
				<div id="nldi-help-div">
					Zoom in to see the points to search up and downstream from. Once a navigation type
					and optionally a distance (in km) are specified, click on a point to look for points upstream and downstream from.
				</div>
				<div id="nldi-map"></div>
			</div>
			<div id="data-type-parameters-div" class="panel">
				<div class="panel-heading">
					DATA SOURCE
					<button type="button" class="show-hide-toggle" title="Show subsection">
						<img src="{{ url_for('portal_ui.static', filename='img/expand.png') }}" alt="show"/>
					</button>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label class="control-label" for="providers-select"
							   title="Click in box and select one or more sources, otherwise data will be retrieved from all available providers">Select
							database:</label>
						<div>
							<select class="form-control modern" id="providers-select" name="providers" style="width: 100%"
									multiple>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div id="map-and-query-div" class="panel">
				<div id="mapping-div" class="panel-body">
					<div id="map-ops-button-div" class="form-inline">
						<div id="show-on-map-button-div" class="form-group">
							<button type="button" class="show-hide-toggle" title="Show subsection">
								<img src="{{ url_for('portal_ui.static', filename='img/expand.png') }}" alt="show"/>
							</button>
							<button type="button" class="btn" id="show-on-map-button">Show sites on map</button>
						</div>
						<div id="sld-select-div" class="form-group">
							<label>Style sites:&nbsp;</label>
							<select id="sld-select-input" class="form-control">
								{% for sld in config.SITE_SLDS %}
									<option value="{{ sld.id }}" {% if loop.first %}checked{% endif %}>{{ sld.text }}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div id="query-map-container">
						<div id="query-results-map"></div>
						<div id="map-loading-indicator"><i class="fa fa-spin fa-spinner fa-5x"></i></div>
						<div id="map-popover" title="Detailed site information" data-trigger="focus"></div>
					</div>
					<div id="query-map-legend-div">
						<div class="legend-header">Sites Legend</div>
						<div class="legend-container"></div>
					</div>
				</div>
				<div id="download-box" class="panel-body">
					<div id="download-box-input-div">
						<div id="download-data-kind-box">
							<b>Select data to download:</b>
							<ul>
								<li>
									<input checked="checked" type="radio" class="result-type" id="sites"
										   value="Station">
									<label for="sites">Site data only</label>
								</li>
								<li>
									<input type="radio" class="result-type" id="samples" value="Result">
									<label for="samples">Sample results (physical/chemical metadata)</label>
								</li>
								<li>
									<input type="radio" class="result-type" id="biosamples" value="Result">
									<label for="biosamples">Sample results (biological metadata)</label>
								</li>
							</ul>
						</div>
						<div id="download-tabular-data">
							<b>File format:</b><br/>
							<ul>
								<li>
									<input type="radio" checked="checked" name="mimeType" id="csv" value="csv"/>
									<label for="csv">Comma-separated</label>
								</li>
								<li>
									<input type="radio" name="mimeType" id="tsv" value="tsv"/>
									<label for="tsv">Tab-separated</label>
								</li>
								<li>
									<input type="radio" name="mimeType" id="xlsx" value="xlsx"/>
									<label for="xlsx">MS Excel 2007+<span style="font-size: x-small;"></span></label>
								</li>
								<li>
									<input type="radio" name="mimeType" id="kml" value="kml"/>
									<label for="kml">KML&nbsp;<span style="font-size: x-small;">(Keyhole Markup Language - for Sites only)</span></label>
								</li>
							</ul>
						</div>
						<div id="download-sorted-data-div">
							<input type="checkbox" id="sorted"/>
							<label for="sorted">Sort data</label>
						</div>
						<input type="hidden" name="zip" id="zip" value="yes"/>
						<input type="hidden" name="sorted" id="hidden-sorted" value="no"/>
						<div id="form-action">
							<button id="main-button" class="btn" type="submit">DOWNLOAD</button>
						</div>
					</div>
				</div>
				<div id="show-queries-div" class="panel-body">
					<button class="btn" id="show-queries-button" type="button">Show Web Service Calls</button>
					&nbsp;
					<button type="button" id="WQXSchemaHelp" class="popover-help" data-help="xmlSchema">?</button>
					<div id="api-queries-div">
						<div class="show-query-text" id="sites-query-div">
							<b>Sites</b>
							<br/>
							<textarea readonly="readonly" rows="6"></textarea>
						</div>
						<div class="show-query-text" id="results-query-div">
							<b>Results</b>
							<br/>
							<textarea readonly="readonly" rows="6"></textarea>
						</div>
						<div class="show-query-text" id="getfeature-query-div">
							<b>WFS GetFeature</b>
							<br/>
							<textarea readonly="readonly" rows="6"></textarea>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div id="download-status-dialog" class="modal fade">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4></h4>
				</div>
				<div class="modal-body"></div>
				<div class="modal-footer"></div>
			</div>
		</div>
	</div>
	<div id="map-info-dialog" style="display: none;">
		<form method="get" style="vertical-align: top; display: inline-block;">
			<div id="map-info-data-type-div" style="vertical-align: top; display: inline-block;">
				Select data:
				<ul class="download-lists">
					<li>
						<input checked="checked" type="radio" name="resultType" id="dialog-sites" value="Station"/>
						<label for="dialog-sites">Sites only</label>
					</li>
					<li>
						<input type="radio" name="resultType" id="dialog-samples" value="Result"/>
						<label for="dialog-samples">Sample results only</label>
					</li>
					<li>
						<input type="radio" name="resultType" id="dialog-biosamples" value="Result"/>
						<label for="dialog-biosamples">Sample results with biological metadata</label>
					</li>
				</ul>
			</div>
			<div style="display: inline-block;" id="map-info-file-format-div">
				Select file format:
				<ul class="download-lists">
					<li>
						<input type="radio" checked="checked" name="mimeType" id="dialog-csv" value="csv">
						<label for="dialog-csv">Comma-separated</label>
					</li>
					<li>
						<input type="radio" name="mimeType" id="dialog-tsv" value="tsv">
						<label for="dialog-tsv">Tab-separated</label>
					</li>
					<li>
						<input type="radio" name="mimeType" id="dialog-xlsx" value="xlsx">
						<label for="dialog-xlsx">MS Excel</label>
					</li>
				</ul>
			</div>
			<div id="map-id-hidden-input-div"></div>
		</form>
		<div id="map-info-download-button-div" style="text-align: center;">
			<button class="btn" id="download-map-info-button">Download Data</button>
		</div>
		<hr/>
		<div id="map-info-details-div"></div>
	</div>
	<div id="validate-download-dialog" class="modal fade">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4>Invalid Form Input</h4>
				</div>
				<div class="modal-body"></div>
				<div class="modal-footer">
					<button id="validate-close-button" type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
				</div>
			</div>
		</div>
	</div>
	<div id="service-error-dialog" class="modal fade">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4>Error</h4>
				</div>
				<div class="modal-body">Unable to connect to the Water Quality Portal. To report the issue, please
					<a href="/contact_us/?comments=Unable to initialize the download form.">contact us</a>.</div>
				<div class="modal-footer">
					<button id="validate-close-button" type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block body_page_script %}
	<script type="text/javascript" src="{{ url_for('bower.static', filename='underscore/underscore.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('bower.static', filename='select2/dist/js/select2.full.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('bower.static', filename='jquery-ui/jquery-ui.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('bower.static', filename='numeral/min/numeral.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('bower.static', filename='handlebars/handlebars.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('bower.static', filename='ol3/ol.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('bower.static', filename='ol3-layerswitcher/src/ol3-layerswitcher.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('bower.static', filename='leaflet/dist/leaflet.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('bower.static', filename='leaflet-providers/leaflet-providers.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('bower.static', filename='esri-leaflet/dist/esri-leaflet.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('bower.static', filename='Leaflet.EasyButton/src/easy-button.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('bower.static', filename='leaflet.markercluster/dist/leaflet.markercluster.js') }}"></script>
	{% assets "portal_js" %}
		<script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}
{% endblock %}