{% extends "base.html" %}

{% block title %}Water Quality Data Station Endpoint{% endblock %}


{% block page_content %}
    <a href="{{ url_for('portal_ui.home-canonical') }}">WQP Home</a> > <a href="{{ url_for('portal_ui.uri_base') }}">Providers</a>
    <h1>Water Quality Portal Data Providers</h1>

    <p>Learn more about Water Quality Portal Data Providers <a href="{{ url_for('portal_ui.wqp_description-canonical') }}">here</a>.</p>

    {% for provider in providers %}
        <a href="{{ url_for('portal_ui.uri_provider', provider_id = provider) }}">{{ provider }}</a></br>
    {% endfor %}
{% endblock %}

{% block body_page_script %}{% endblock %}