{% extends "base.html" %}

{% block title %}Water Quality Portal Data Sites for {{ organization }}{% endblock %}

{% block page_style %}
{% if total_site_count < 60000 %}
    <link rel="stylesheet" type="text/css"
		  href="{{ url_for('bower.static', filename='leaflet/dist/leaflet.css') }}" />
    <link rel="stylesheet" type="text/css"
		  href="{{ url_for('bower.static', filename='leaflet.markercluster/dist/MarkerCluster.Default.css') }}"/>
    <link rel="stylesheet" type="text/css"
		  href="{{ url_for('bower.static', filename='leaflet.markercluster/dist/MarkerCluster.css') }}"/>
{% endif %}
{% endblock %}


{% block page_content %}
    <a href="{{ url_for('portal_ui.home-canonical') }}">WQP Home</a> > <a href="{{ url_for('portal_ui.uri_base') }}">Providers</a> > <a href="{{ url_for('portal_ui.uri_provider',provider_id=provider) }}">{{ provider }}</a> > <a href="{{ url_for('portal_ui.uri_organization',provider_id=provider, organization_id=organization) }}">{{ organization }}</a>
    <h1>Water Quality Portal Data Sites for {{ organization }}</h1>
    {% if total_site_count >= 60000 %}
        <p>This organization has over {{ total_site_count }} sites, and their locations are not mapped</p>
    {% else %}
        <div id="sites_map"></div>
        <p>This organization has {{ total_site_count }} sites. Click on a grouped icon to zoom and expand</p>
    {% endif %}
    <br/>

    {% for site in sites_geojson['features'] %}
        <a href="{{ url_for('portal_ui.uri_site', organization_id = organization, provider_id = provider, site_id=site['properties']['MonitoringLocationIdentifier']) }}">- {{ site['properties']['MonitoringLocationName'] }} - {{ site['properties']['MonitoringLocationIdentifier'] }} ({{ site['properties']['ResolvedMonitoringLocationTypeName'] }})</a><br/>
    {% endfor %}
{% endblock %}

{% block body_page_script %}
    {% if total_site_count < 60000 %}
    <script type="text/javascript" src="{{ url_for('bower.static', filename='leaflet/dist/leaflet.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('bower.static', filename='leaflet-providers/leaflet-providers.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('bower.static', filename='leaflet.markercluster/dist/leaflet.markercluster.js') }}"></script>
    <script type="text/javascript">




    //This example uses leaflet to render maps.  Learn more about leaflet at http://leafletjs.com/
    var map = L.map('sites_map');
    // leaflet providers is a simple way to add a variety of free basemaps to a map.
    // learn more here: https://github.com/leaflet-extras/leaflet-providers
    var basemapTiles = L.tileLayer.provider('Esri.WorldTopoMap');
    basemapTiles.addTo(map);
    map.setView([35.9908385, -78.9005222], 3);





    //function to return a color based on a value associated with each feature.
    // We can then set a different color for each marker based on a characteristic of the
    // marker- in this case, the type of site.
    // While there is a handy leaflet var called geojsonMarkerOptions
    // that lets you set the marker style for a leaflet geoJSON layer, it only works if you want every marker to be exactly the same
    function getValue(x) {
        return x == "Stream" ? "#800026" :
               x == "Well" ? "#FEB24C" :
               x == "Land" ? "#E31A1C" :
               x == "Estuary" ? "#FC4E2A" :
               x == "Facility" ? "#FD8D3C" :
               x == "Glacier"? "#BD0026" :
               x == "Lake, Reservoir, Impoundment" ? "#FED976" :
                   "#FFEDA0";
    }



    //set the popup text for each feature, based on the geojson properties of each feature.
    //The text is rendered as html and style with CSS3, so you can do pretty much anything to want in here-
    //this example is a very simple list.
    function setPopupValue(feature, layer) {
                var popupText = "Organization Name: " + feature.properties.OrganizationFormalName
                    + "<br>Station Name: " + feature.properties.MonitoringLocationName
                    + "<br>Station ID: " + feature.properties.MonitoringLocationIdentifier
                    + "<br>Station Type: " + feature.properties.ResolvedMonitoringLocationTypeName
                    +'<br>Station Details:  <a href="{{ config.LOCAL_BASE_URL }}{{ request.path }}' + feature.properties.MonitoringLocationIdentifier + '/">Go to station page.</a>';
                layer.bindPopup(popupText);
                }




    // actually adding the data to the map.
    //learn more about this here:
    function addDataToMap(data, map) {
        var markers = L.markerClusterGroup({chunkedLoading:true, spiderfyDistanceMultiplier:3});
        var dataLayer = L.geoJson(data, {
            onEachFeature: setPopupValue,
            pointToLayer: function (feature, latlng) {
            //here we are using the built-in circleMarker.  If we want to do more, we can make fancier icons
            return L.circleMarker(latlng, {
                        radius: 5,
                        fillColor: getValue(feature.properties.ResolvedMonitoringLocationTypeName),
                        color: "#000",
                        weight: 1,
                        opacity: 1,
                        fillOpacity: 0.7
                    });
            }
            });
        markers.addLayer(dataLayer);
        map.addLayer(markers);
        map.fitBounds(L.geoJson(data).getBounds());
    }

    var siteData = {{ sites_geojson|tojson }};
    addDataToMap(siteData, map);

    </script>
    {% endif %}
{% endblock %}