<html>
<head>
	<title>WQX-Outbound Schema Info</title>	<style type="text/css" media="screen">		.instructions {			text-align: center;			border-width: 2pt;			border-color: #333333;			border-style: solid;			background-color: #FFEE99;			padding-top: 4pt;			padding-bottom: 2pt;			padding-left: 8pt;			padding-rightt: 8pt;			margin-bottom: 8pt;		}		.note {			font-style: italic;			font-size: small;		}		body {			font-family: arial;		}	</style>
</head>
<body>	<div class="instructions">The National Water Information System (NWIS) Water-Quality 	Web Services conform to the format defined in the below referenced XML schema.	</div>	<b>WQX-Outbound XML schema information:</b>
	<ul>
		<li><a href="index.xsd">WQX-Outbound XML schema</a></li>
		<li><a href="docs/index.html">WQX-Outbound XML schema documentation</a></li>
	</ul>


</body>
</html>