/* custom variables - These must be defined in the theme specific variables file or this file must be imported */
@wqp-page-color : inherit;
@download-panel-color : inherit;
@secondary-panel-color : inherit;
@disabled-color: inherit;
@panel-heading-text : inherit;
@navbar-toggle-btn-color: inherit;
@user-guide-h4-text: inherit;
@user-table-bg: inherit;
