{% extends "base.html" %}

{% block title %}Water Quality Portal Data Organizations for {{ provider }}{% endblock %}



{% block page_content %}
    <h1>Water Quality Portal Data Organizations for {{ provider }}</h1>
    {% for organization in organizations %}
        <a href="{{ url_for('uri_organization', organization_id = organization['id'], provider_id = provider) }}">{{ organization['name'] }} - {{ organization['id'] }}</a></br>
    {% endfor %}
{% endblock %}

{% block body_page_script %}{% endblock %}