{% extends 'theme_base.html' %}

{% block title %}Water Quality Data{% endblock %}

{% block custom_style %}
	<link rel="stylesheet" href="{{ 'custom.css' | asset_url }}">
{% endblock %}

{% block page_header %}
	<div id="page-header-small">
		<a href="http://acwi.gov/monitoring/">
			<div id="page-header-logo">
				<img src="{{ url_for('portal_ui.static', filename='img/NWQMC_newlogo.jpg') }}"/>
			</div>
			<div id="page-header-text-div">
				<div id="page-header-sponser-div">NATIONAL WATER QUALITY MONITORING COUNCIL</div>
				<div id="page-header-tag-line-div">Working Together for Clean Water</div>
			</div>
		</a>
	</div>

	<div id="page-header-full">
		<a href="http://acwi.gov/monitoring/">
			<img src="{{ url_for('portal_ui.static', filename='img/NWQMC_header_web_960w.png') }}"/>
		</a>
		<div id="page-title">
			<a href="{{ url_for('portal_ui.home-canonical') }}">
				<h1>
					{% block page_header_title %}{% endblock %}
				</h1>
			</a>
		</div>
	</div>
{% endblock %}

{% block navbar_navigation %}
	<div id="wqp-navbar-header" class="navbar-header">
		<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#wqp-standard-navbar-collapse">WQP Menu<span class="caret"></span></button>
	</div>
	<div id="wqp-standard-navbar-collapse" class="navbar-collapse collapse">
		<ul class="nav navbar-nav">
			<li><a href="{{ url_for('portal_ui.home-canonical') }}">WQP Home</a></li>
			<li><a href="{{ url_for('portal_ui.portal-canonical') }}">Download Data</a></li>
			<li class="dropdown">
				<a class="dropdown-toggle" href="#" data-toggle="dropdown">How to use the WQP<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="{{ url_for('portal_ui.portal_userguide-canonical') }}">User Guide</a></li>
					<li><a href="{{ url_for('portal_ui.webservices_documentation-canonical') }}">Web Services Guide</a></li>
					<li><a href="{{ url_for('portal_ui.faqs-canonical') }}">FAQs</a></li>
					<li><a href="{{ url_for('portal_ui.upload_data-canonical') }}">Upload Data</a></li>
				</ul>
			</li>
			<li> <a href="{{ url_for('portal_ui.coverage-canonical') }}">National Results Coverage</a></li>
			<li class="dropdown">
				<a class="dropdown-toggle" href="#" data-toggle="dropdown">About the WQP<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="{{ url_for('portal_ui.wqp_description-canonical') }}">What is the WQP?</a></li>
					<li><a href="{{ url_for('portal_ui.orgs-canonical') }}">Contributing organizations</a></li>
					<li><a href="{{ url_for('portal_ui.apps_using_portal-canonical') }}">Applications using the WQP</a></li>
					<li><a href="{{ url_for('portal_ui.other_portal_links-canonical') }}">Other Water Quality Portals</a></li>
					<li><a href="{{ url_for('portal_ui.contact_us-canonical') }}">Contact us</a></li>
					<li><a href="{{ url_for('portal_ui.uri_base') }}">Explore WQP sites</a></li>
				</ul>
			</li>
		</ul>
	</div>
{% endblock %}

{% block page_footer %}
	<hr/>
	<div id="footer-row-div">
		<div id="contact-us-div"><a href="{{ url_for('portal_ui.contact_us-canonical') }}">Contact us</a></div>
		<div class="logo">
			<a href="http://usgs.gov"><img alt="USGS Science for a changing world"
										   src="{{ url_for('portal_ui.static', filename='img/USGS_logo.gif') }}"/></a>
		</div>
		<div class="logo">
			<a href="http://epa.gov"><img alt="EPA"
										  src="{{ url_for('portal_ui.static', filename='img/EPA_logo.gif') }}"/></a>
		</div>
		<div class="logo" id="USDA-logo-div">
			<a href="http://www.ars.usda.gov/"><img alt="USDA-ARS"
													src="{{ url_for('portal_ui.static', filename='img/USDA-Logo.png') }}"/></a>
		</div>
	</div>
{% endblock %}

{% block body_page_script %}{% endblock %}
