{% extends "base.html" %}

{% block title %}Manage Cache status{% endblock %}
{% block meta_tags %}
    <meta http-equiv="Cache-control" content="no-cache">
{% endblock %}

{% block google_analytics_script %}{% endblock %}

{% block page_style %}
    <style>
        .progress_area {
            width: 100%;
            text-align: center;

        }
    </style>
{% endblock %}

{% block page_header_title %}Manage Cache Status{% endblock %}

{% block page_content %}
    <h1>Manage Cache Status</h1>

    <h2>Current Cache Status</h2>
    <table class="table">
        <tr>
            <td>Provider</td>
            <td>Time Loaded (UTC)</td>
            <td>Time Loaded (human)</td>
            <td>Total Number of sites</td>
            <td>Number of sites cached</td>
            <td>Number of errors</td>
        </tr>
        {% for provider in status %}
            <tr>
                <td>{{ provider['provider'] }}</td>
                <td>{{ provider['time_zulu'] }}</td>
                <td>{{ provider['time_human'] }}</td>
                <td>{{ "{:,}".format(provider['total_count']) }}</td>
                <td>{{ "{:,}".format(provider['cached_count']) }}</td>
                <td>{{ "{:,}".format(provider['error_count']) }}</td>
            </tr>
        {% endfor %}

    </table>

    <h2>Rebuild the the site cache for a data provider</h2>
    <form name="QueryTypeForm">
        <label>Data Provider</label>
        <select name="DataProvider" property="data_provider" size="1">
            <option selected="selected"> </option>
            <option value="NWIS">NWIS</option>
            <option value="STORET">STORET</option>
            <option value="STEWARDS">STEWARDS</option>
            <option value="BIODATA">BioData</option>
        </select>
        <button type="button" onclick="on_submit_action();">Rebuild Cache</button>
    </form>
    <br><br>
    <div id="progress"></div>
{% endblock %}
{% block body_page_script %}
    <script>
        function start_long_task(data_provider) {
            // add task status elements
            div = $('<div class="progress_area"><div></div><div>0%</div><div>...</div><div>&nbsp;</div><div>&nbsp;</div></div><hr>');
            $('#progress').append(div);

            // create a progress bar
            var nanobar = new Nanobar({
                bg: '#44f',
                target: div[0].childNodes[0]
            });

            // send ajax POST request to start background job
            $.ajax({
                type: 'POST',
                url: '{{ url_for('portal_ui.sitescachetask', provider_id = '') }}'+data_provider,
                success: function(data, status, request) {
                    status_url = request.getResponseHeader('Location');
                    update_progress(status_url, nanobar, div[0]);
                },
                error: function() {
                    alert('Unexpected error');
                }
            });
        }
        function update_progress(status_url, nanobar, status_div) {
            // send GET request to status URL
            $.getJSON(status_url, function(data) {
                // update UI
                percent = parseInt(data['current'] * 100 / data['total']);
                nanobar.go(percent);
                $(status_div.childNodes[1]).text(percent + '%');
                $(status_div.childNodes[2]).text(data['status']);
                if (data['state'] != 'PENDING' && data['state'] != 'PROGRESS') {
                    if (data['state'] = 'SUCCESS'){
                        console.log('success!');
                        nanobar.go(99.99);
                        $(status_div.childNodes[1]).text('100%');
                        $(status_div.childNodes[2]).text('');
                        $(status_div.childNodes[3]).text(data['state']);
                        $(status_div.childNodes[4]).text('Reload the page to update the table');
                        //location.reload(true);
                      }
                    else if ('result' in data) {
                        // show result
                        $(status_div.childNodes[3]).text('Result: ' + data['result']);
                    }
                    else {
                        // something unexpected happened
                        $(status_div.childNodes[3]).text('Result: ' + data['state']);
                    }
                }

                else {
                    // rerun in 2 seconds
                    setTimeout(function() {
                        update_progress(status_url, nanobar, status_div);
                    }, 2000);

                }
            });
        }

        function on_submit_action() {
            var dataProvider=document.getElementsByName("DataProvider")[0];
            console.log(dataProvider.value);
            start_long_task(dataProvider.value)
        }

    </script>
{% endblock %}
